.form-element {
  margin: 2% 0%;
  width: fit-content, auto;
}

.form-element label {
  color: #000;
}

.required-asterisk {
  color: #ff0000;
}

/*.card {
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}*/

* {
  font-family: "Poppins", sans-serif;
}
body {
  background-size: 800%;
  animation: animateClr 1s infinite cubic-bezier(0.62, 0.28, 0.23, 0.99);
}

header .navbar {
  background-color: #27374d;
}

.main-body {
  background-color: #9db2bf;
}

.DDE6ED {
  background-color: #dde6ed;
}

.feedback input[type="text"],
.feedback input[type="email"],
.feedback input[type="tel"],
.feedback textarea {
  border: none;
  border-bottom: 2px solid rgb(128, 126, 126);
  background: transparent;
  outline: none;
  width: 100%;
  padding: 1rem 0.4rem;
}
.aside {
  background-image: linear-gradient(
    to left bottom,
    #051937,
    #062c5d,
    #10468b,
    #2161bc,
    #2975e7
  );
  animation: animateClr 5s infinite cubic-bezier(0.62, 0.28, 0.23, 0.99);
  background-size: 400%;
}

@keyframes animateClr {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: none;
}

#pass1 a,
a:hover {
  color: #333;
}

.form-element input:value {
  display: none;
}
